.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .modal-content {
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .modal-title {
        font-size: 26px;
        font-weight: bold;
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .form-control {
        width: 90%;
        margin-bottom: 10px;
      }
      input {
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        font-size: 16px;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
      label {
        position: relative;
        left: -100px;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 25px;
      }

      button {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        // background nice gradient
        background: linear-gradient(
          to right,
          #f093fb 0%,
          #f5576c 51%,
          #ff9e7f 100%
        );
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }
      .signup-switch {
        margin-top: 20px;
        font-weight: bold;
        text-decoration: underline;
        color: #f5576c;
        cursor: pointer;
      }
    }
  }
}
